[submodule "easy_data"]
	path = easy_data
	url = https://github.com/PokeResearchLab/easy_data.git
	branch = main
[submodule "easy_exp"]
	path = easy_exp
	url = https://github.com/PokeResearchLab/easy_exp.git
	branch = main
[submodule "easy_torch"]
	path = easy_torch
	url = https://github.com/PokeResearchLab/easy_torch.git
	branch = main
[submodule "easy_rec"]
	path = easy_rec
	url = https://github.com/PokeResearchLab/easy_rec.git
	branch = main
